<div class="container-fluid user-index-page">
  <div class="row">
    <div class="col-sm-12 col-sm-3 col-md-3 user_info">
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-12">
            <h2><%= "Welcome #{current_user.name}!" %></h2>
            <%= image_tag current_user.avatar.url(:thumb) %>
            <br/>

            <br/>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
              <%= link_to 'View Commands', '#'%>
            </button>
            <%= link_to 'Upload File', '#', class: 'after_view_command' %>
          </div>
        </div>

    </div>



    <div class="col-xs-12 col-sm-6 col-md-6 user_upload">
      <div class="hide_upload">



      <p><%= render 'shared/new_document_form' %></p>

      <div class="row">
        <div class="col-md-12">
          <h3>Upload Restrictions</h3>
          <ul class="list-group">
            <li class="list-group-item">File must be in PDF format</li>
            <li class="list-group-item">File must not exceed 150MB</li>
            <li class="list-group-item">You must enter a title name</li>
            <li class="list-group-item">At this time only 1 file upload at a time</li>
          </ul>
        </div>
      </div>
      </div>
    </div>

    <div class="clearfix visible-xs-block visible-sm-block"></div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h3>Last 6 Uploads</h3>
          <div class="row">
          <% current_user.documents.last(6).reverse.each do |file| %>

                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-6 user-recent">
                  <div class="image-container image-container-num1">
                    <div class="image image-num1">
                      <%= link_to image_tag(file.pdf(:cover)), document_path(file.id) %>
                    </div>
                    <div class="caption caption-num1">
                      <span class="bottom"><%= file.title%></span>
                    </div>
                  </div>



                </div>

          <% end %>
          </div>
        </div>
      </div>
    </div>



    </div>
    <div class="row">
      <div class="col-md-12 how_to">
        <h3>Commands You Can Use In The PDF Viewer!</h3>

        <div class="row">
          <div class="col-md-4">
            <h4 class="list-group-item-heading">To go to the next page you can say:</h4>
            <ul class="list-group">
              <li class="list-group-item">"Next Page"</li>
              <li class="list-group-item">"Next"</li>
              <li class="list-group-item">"Next Slide"</li>
              <li class="list-group-item">"Forward"</li>
            </ul>
          </div>

          <div class="col-md-4">
            <h4 class="list-group-item-heading">To go to the previous page you can say:</h4>
            <ul class="list-group">
              <li class="list-group-item">"Previous"</li>
              <li class="list-group-item">"Previous Page"</li>
              <li class="list-group-item">"Back"</li>
            </ul>
          </div>

          <div class="col-md-4">
            <h4 class="list-group-item-heading">Why not zoom in? You can say:</h4>
            <ul class="list-group">
              <li class="list-group-item">"Zoom"</li>
              <li class="list-group-item">"Zoom In"</li>
              <li class="list-group-item">"Zoom Closer"</li>
              <li class="list-group-item">"Closer"</li>
              <li class="list-group-item">"Move In"</li>
              <li class="list-group-item">"Move Closer"</li>
            </ul>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <h4 class="list-group-item-heading">Want to zoom out? Say:</h4>
            <ul class="list-group">
              <li class="list-group-item">"Zoom out"</li>
              <li class="list-group-item">"Zoom Away"</li>
              <li class="list-group-item">"Zoom Fit"</li>
              <li class="list-group-item">"Fit Page"</li>
              <li class="list-group-item">"Fit Screen"</li>
              <li class="list-group-item">"Show All"</li>
            </ul>
          </div>

          <div class="col-md-6">
            <h4 class="list-group-item-heading">Want to change the layout? Say:</h4>
            <ul class="list-group">
              <li class="list-group-item">"Single Page"</li>
              <li class="list-group-item">"Single Page Layout"</li>
              <li class="list-group-item">"Single Page Zoom"</li>
              <li class="list-group-item">"Show One Page"</li>
              <li class="list-group-item">"Show Only One Page"</li>
              <li class="list-group-item">"Show Two Page(s)"</li>
              <li class="list-group-item">"Show Two Page(s) Layout"</li>
              <li class="list-group-item">"Two Page(s) View"</li>
              <li class="list-group-item">"Two Page(s) Layout"</li>
              <li class="list-group-item">"Two Page(s)"</li>
            </ul>
          </div>

        </div>



        <br/>

        <br/>

        <br/>

        <br/>

      </div>

    </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Commands You Can Use When Viewing Your PDF!</h3>
        </div>
        <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="list-group-item-heading">To go to the next page you can say:</h4>
                  <ul class="list-group">
                    <li class="list-group-item">"Next Page"</li>
                    <li class="list-group-item">"Next"</li>
                    <li class="list-group-item">"Next Slide"</li>
                    <li class="list-group-item">"Forward"</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h4 class="list-group-item-heading">To go to the previous page you can say:</h4>
                  <ul class="list-group">
                    <li class="list-group-item">"Previous"</li>
                    <li class="list-group-item">"Previous Page"</li>
                    <li class="list-group-item">"Back"</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h4 class="list-group-item-heading">Why not zoom in? You can say:</h4>
                  <ul class="list-group">
                    <li class="list-group-item">"Zoom"</li>
                    <li class="list-group-item">"Zoom In"</li>
                    <li class="list-group-item">"Zoom Closer"</li>
                    <li class="list-group-item">"Closer"</li>
                    <li class="list-group-item">"Move In"</li>
                    <li class="list-group-item">"Move Closer"</li>
                  </ul>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  <h4 class="list-group-item-heading">Want to zoom out? Say:</h4>
                  <ul class="list-group">
                    <li class="list-group-item">"Zoom out"</li>
                    <li class="list-group-item">"Zoom Away"</li>
                    <li class="list-group-item">"Zoom Fit"</li>
                    <li class="list-group-item">"Fit Page"</li>
                    <li class="list-group-item">"Fit Screen"</li>
                    <li class="list-group-item">"Show All"</li>
                  </ul>
                </div>

                <div class="col-md-6">
                  <h4 class="list-group-item-heading">Want to change the layout? Say:</h4>
                  <ul class="list-group">
                    <li class="list-group-item">"Single Page"</li>
                    <li class="list-group-item">"Single Page Layout"</li>
                    <li class="list-group-item">"Single Page Zoom"</li>
                    <li class="list-group-item">"Show One Page"</li>
                    <li class="list-group-item">"Show Only One Page"</li>
                    <li class="list-group-item">"Show Two Page(s)"</li>
                    <li class="list-group-item">"Show Two Page(s) Layout"</li>
                    <li class="list-group-item">"Two Page(s) View"</li>
                    <li class="list-group-item">"Two Page(s) Layout"</li>
                    <li class="list-group-item">"Two Page(s)"</li>
                  </ul>
                </div>

              </div>
        </div>
      </div>
    </div>
  </div>

  </div>













