<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
      <h1><%= "#{current_user.name}" %></h1>
      <div class="user_info">
        <%= image_tag(current_user.avatar.url(:thumb)) %>
        <br/>
        <%= link_to 'Update Info', user_path(current_user), method: :put, remote: true %>

        <div class="user_edit">

          <%= render 'shared/edit_user_form' %>

        </div>
      </div>

    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>
    <div class="col-xs-10 col-sm-10 col-md-10">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h1>Library</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
              <%= render 'documents/user_library' %>
            </div>


        </div>
      </div>


      </div>

    </div>
  </div>
</div>









