<%= form_for [@user,@document], url: documents_path, html: { multipart: true } do |f| %>
    <h1>Upload Your PDF!</h1>
    <%= f.text_field :title, placeholder: 'Title' %> <br/>
    <%= f.text_area :description, placeholder: 'Give A Short Description...' %> <br/>
    <%= f.file_field :pdf%> <br/>
    <%= f.submit class: 'new_doc_submit', remote: true%>
<% end %>