<!DOCTYPE html>
<html>
<head>
  <title>VoiceActivated</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= init_annyang %>
</head>
<body>
<nav class="navbar">
  <span class="flashes"><%= flash[:notice] if flash[:notice] %>
  <%= flash[:alert] if flash[:alert] %></span>
  <ul>
    <li>
      <% if current_user %>
          <a><%= link_to 'Home', root_path %></a> |
          <%= link_to 'Library', user_path(current_user)%> |
          <a><%= link_to 'Sign Out', logout_path %></a>

    </li>

    <% else %>

    <li>
     <a><%= link_to 'Sign In', users_path, remote: true, class: 'signin_link' %></a>
    </li>

    <% end %>
  </ul>
</nav>
<div id="spacer"></div>







<%= yield %>

</body>
</html>
